* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 1rem 2rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-social {
    display: flex;
    gap:10px;
}

.page-container{
    display:grid;
    grid-template-areas: 
    "hero, about, skills, portfolio, contact";
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    
}